name: Angel Bot

on:
  workflow_dispatch:

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: |
          - run: |pip install python-telegram-bot==13.15 smartapi-python pandas numpy python-dotenv requests pyotp PyYAML websocket-client python main.py
        env:
          ANGEL_CLIENT_ID: ${{ secrets.ANGEL_CLIENT_ID }}
          ANGEL_PASSWORD: ${{ secrets.ANGEL_PASSWORD }}
          ANGEL_API_KEY: ${{ secrets.ANGEL_API_KEY }}
          ANGEL_TOTP_SECRET: ${{ secrets.ANGEL_TOTP_SECRET }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
